<p id="notice"><%= notice %></p>

<div id="member">
    <h1 class="text-center"><span>Howdy!</span></h1>
</div>

<% if logged_in_member? %>
    <% if User.find_by_id(current_member.users_id) == nil %>
        <div id="member" >
            <h3 class="text-center"><span style = "color:white">You are Logged In, <%= current_member.first %></span></h1>        
        </div>
            <div id="memdash" class="card">
            <h4><span >You are currently not in any Organizations.</span></h2>  
        </div>
    <% else %>
        <div id="member">
            <h3 class="text-center"><span style = "color:white">You are Logged In, <%= current_member.first %></span></h1>        
        </div>
        <div id="memdash" class="card">
            <h2><span >Organizations:</span></h2>
            <span ><%= User.find_by_id(current_member.users_id).first %></span>
        </div>
    <%end%>
<%end%>
<br>
<div id="memdash" class="card">
    <h4><span >Referral Code: </span></h4> 
    <h4><span > <%= current_member.referral_code %> </span></h4> 
</div>
<br>
<div id="memdash" class="card">
    <h4><span >Number of products referred: </span></h4>
    <h4><span > <%= current_member.num_referred %> </span></h4>
</div>

<br>


<div id="bkbtn" class="text-center mx-auto">
    <%= link_to 'Edit Profile', "/edit_mem" %> 
</div>
<div style="padding:10px"class="text-center mx-auto">
    <%= button_to 'Logout', logout_path, :method => :delete %>
</div>

