<nav id="nav-header" class="text-left">
	<div id="logo" class="text-left">
		<%= image_tag "M_White_Thick.jpg", style: 'height:50px;width:30px;margin-bottom:15px;margin-right:10px;' %>
		<a id="home-btn" href="/"><span>Mporium</span></a>
	</div>
	<div id="logo"> </div>	
	
	<div id="no-drop">
		<a href="marketplace">MARKETPLACE</a>
	</div>
	<div id="no-drop">
		<a href="sign_in">LOG IN</a>
	</div>
	<div class="dropdown">
		<a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			SIGN UP
		</a>

		<div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
			<a class="dropdown-item" href="signup_organization">Organization</a>
			<a class="dropdown-item" href="signup_member">Member</a>
		</div>
	</div>
	<div id="no-drop">
		<%= link_to 'CART', view_cart_path %>
	</div>

</nav>



<div id="marketplace">
	<h1>MARKETPLACE</h1>
	<%= simple_form_for :view_cart_path, :url => "/set_referral", :method => :post do |f| %>
		<div id="shopbtn" class="mx-auto">
			<%= f.input :referral_code, input_html: { name: "referral_code" } %>
		</div>
		<div id="shopbtn" class="mx-auto">
			<%= f.button :submit, "Set referral code" %>
		</div>
	<% end %>

	<div id="shopbtn" class="mx-auto">
		<a class="btn btn-primary" data-bs-toggle="collapse" href="#prod" role="button" aria-expanded="false" aria-controls="prod">
		PRODUCTS
		</a>
	</div>
	<div class="collapse" id="prod">
		<div class="card card-body">
		<%= form_with(url: "/tag_marketplace") do |f| %>
			<%= f.select :tag_id, @tags.map { |t| [t.name, t.id] }, include_blank: true %>
			<%= f.submit %>
		<% end %>
		</div>
	</div>

	<div id="shopbtn" class="mx-auto">
		<a class="btn btn-primary" data-bs-toggle="collapse" href="#orgs" role="button" aria-expanded="false" aria-controls="orgs">
		ORGANIZATIONS
		</a>
	</div>
	<div class="collapse" id="orgs">
		<div class="card card-body">
		<%= form_with(url: "/org_marketplace") do |f| %>
			<%= f.select :org_id, @users.map { |u| [u.first, u.id] }, include_blank: true %>
			<%= f.submit %>
		<% end %>
		</div>
	</div>

	<div id="shopbtn" class="mx-auto">
		<a class="btn btn-primary" data-bs-toggle="collapse" href="#sortby" role="button" aria-expanded="false" aria-controls="sortby">
		SORT BY ...
		</a>
	</div>
	<div class="collapse" id="sortby">
		<div class="card card-body">
			<%= form_with(url: "/marketplace") do |f| %>
				<%= f.radio_button :sort, "asc_price"  %> 
				<%= f.label "sort", 'Price: Lowest-Highest' %>
				<br>
				<%= f.radio_button "sort", "desc_price" %> 
				<%= f.label :sort, 'Price: Highest-Lowest' %>
				<br>
				<%= f.radio_button "sort", "asc_date" %> 
				<%= f.label :sort, 'Oldest-Newest' %>
				<br>
				<%= f.radio_button "sort", "desc_date" %> 
				<%= f.label :sort, 'Newest-Oldest' %>
			
			<% end %>
		</div>
	</div>

</div>

<br>

<div id="dynamicLoadingPanel">
	<%=render :partial=>'sortitems'%>
</div>
	
<%= javascript_pack_tag 'marketplace' %>