<nav id="nav-header" class="text-left">
	<div id="logo" class="text-left">
		<%= image_tag "M_White_Thick.jpg", style: 'height:50px;width:30px;margin-bottom:15px;margin-right:10px;' %>
		<a id="home-btn" href="/"><span>Mporium</span></a>
	</div>
	<div id="logo"> </div>	
	
	<div id="no-drop">
		<a href="marketplace">MARKETPLACE</a>
	</div>
	<div id="no-drop">
		<a href="sign_in">LOG IN</a>
	</div>
	<div class="dropdown">
		<a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			SIGN UP
		</a>

		<div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
			<a class="dropdown-item" href="signup_organization">Organization</a>
			<a class="dropdown-item" href="signup_member">Member</a>
		</div>
	</div>
	<div id="no-drop">
		<%= link_to 'CART', view_cart_path %>
	</div>

</nav>

<div id="marketplace">
	<h1>Products sold by <%= User.find_by_id(params[:org_id]).first %></h1>

	<div id="shopbkbtn">
		<%= link_to '< Back to Marketplace', "/marketplace" %> 
	</div>

<br>

<div id="shopbtn" class="mx-auto">
		<a class="btn btn-primary" data-bs-toggle="collapse" href="#sortby" role="button" aria-expanded="false" aria-controls="sortby">
		SORT BY ...
		</a>
	</div>
	<div class="collapse" id="sortby">
		<div class="card card-body">
			<%= form_with(url: "/marketplace") do |f| %>
				<%= f.radio_button :sort, "asc_price"  %> 
				<%= f.label "sort", 'Price: Lowest-Highest' %>
				<br>
				<%= f.radio_button "sort", "desc_price" %> 
				<%= f.label :sort, 'Price: Highest-Lowest' %>
				<br>
				<%= f.radio_button "sort", "asc_date" %> 
				<%= f.label :sort, 'Oldest-Newest' %>
				<br>
				<%= f.radio_button "sort", "desc_date" %> 
				<%= f.label :sort, 'Newest-Oldest' %>
			
			<% end %>
		</div>
	</div>
</div>


<div id="dynamicLoadingPanel">
	<%=render :partial=>'sortitems'%>
</div>
	
<%= javascript_pack_tag 'marketplace' %>